.reservationContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .seatContainer {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }
}
.loading {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}